footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  grid-template-areas: 
    "title title title title"
    "links-1 links-2 links-3 links-4";
  width: 100%;
  height: 530px;
  background-color: black;
  color: white;
}

footer h1 {
  font-weight: 400;
  letter-spacing: 10px;
}

footer h5 {
  font-weight: 400;
  margin-bottom: 15px;
  letter-spacing: 2px;
}

.title {
  display: flex;
  /* border: 2px solid white; */
  grid-area: title;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid white; */
  text-align: center;

}

.links-1 {
  grid-area: links-1;
}

.links-2 {
  grid-area: links-2;
}

.links-3 {
  grid-area: links-3;
}

.links-4 {
  grid-area: links-4;
}

.links h6 {
  font-weight: 100;
  font-size: 12px;
  margin: 8px 0;
  letter-spacing: 1px;
}

@media screen and (max-width: 850px) {
  footer h5 {
    font-size: 10px;
  }

  .links h6 {
    font-size: 8px;
  }
}