.heroCTA {
  /* border: 1px solid black; */
  display: flex;
  width: 784px;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  /* border: 1px solid black; */
  height: 100%;
  width: 50%;
}

.right {
  /* border: 1px solid black; */
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.CTA {
  /* border: 1px solid black; */
  width: 80%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
  letter-spacing: 2px;
}

.CTA h6 {
  font-weight: 100;
  margin-bottom: 10px;
}

.CTA h3{
  font-size: 25px;
  font-weight: 200;
}

.CTA h5{
  margin: 5px 0px;
}

.left, .right {
  background-position: center;
  background-size: cover;
  background-repeat: none;
}

.CTA button {
  width: 70%;
  margin: 20px 0px;
  height: 30px;
  border-radius: 0px;
  border: none;
  color: white;
  background-color: black;
  letter-spacing: 3px;
  outline: none;
}

.CTA button :hover{
  cursor: pointer;
  background-color: #2C1F34;
}