.profile {
  height: calc(100vh - 190px);
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "profile-links images"
}

.profile-links {
 grid-area: profile-links;
 color: black;
 margin:75px 0px 0px 30px;
 
}

.profile-links h4 {
  margin: 30px 0;
  letter-spacing: 3px;
  font-weight: 300;
}

.profile-links a {
  color: black;
  text-decoration: none;
}

.profile-links a:hover {
  color: #9A9A9A;
  transition: 0.3s;
}

.images {
  grid-area: images;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.images img {
  object-fit: cover;
  height: 350px;
}

.profile-container h1 {
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 500;
}
