.review-content {
  margin: 50px 50px 20px 50px;
}

.review-section {
  text-align: center;
}

.review-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.review-form select{
  margin: 25px 0;
  border-radius: 0px;
  width: 50px;
  height: 30px;
  outline: none;
}

.review-form textarea {
  resize: none;
  height: 200px;
  width: 280px;
  border-radius: 0;
  outline: none;
  letter-spacing: 2px;
  font-family: 'Lato', sans-serif;
  padding: 15px 20px;
  text-transform: uppercase;
  line-height: 25px;
  overflow-y: scroll;
}

#description-input {
  height: 150px;
  width: 300px;
  overflow-y: scroll;
  border: 1px solid white;
  outline: none;
  border-radius: 0;
  resize: none;
  margin-bottom: 20px;
}

.review-form textarea::-webkit-scrollbar {
  border: 1px solid black;
  background-color: white;
  border-radius: 20px;
  width: 8px;
}

.review-form textarea::-webkit-scrollbar-thumb {
  border: none;
  background-color:black;
  border-radius: 20px;
}


.review-form button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 0;
  outline: none;
  color: black;
  background-color: white;
  letter-spacing: 3px;
}

.new-review-button {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 0;
  outline: none;
  color: black;
  background-color: white;
  letter-spacing: 3px;
  margin: 0 auto;
}


.pages {
  display: flex;
}

.pages li {
  list-style: none;
}

.review-section a {
  color: white;
}

/* .pages a {
  color: white;
} */

@media screen and (max-width: 850px) {
.reviews p {
  width: 100%
}

}

@media screen and (max-width: 550px) {
  .review-form textarea {
    width: 300px;
  }
}