.product-div {
  width: 20%;
  min-width: 215px;
  margin: 0px 20px 100px 20px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 3px;
}

.product-div img {
  width: 90%;
  height: 70%;
  object-fit: cover;
}

.product-div a {
  text-decoration: none;
  color: black;
  font-weight: 100;
}

.product-div h4,
p {
  font-weight: 200;
}
